.formulario {
  align-self: center;
  gap: 2rem;
  
  width: 32rem;
  margin-top: 8rem;
  width: 36rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid rgb(66, 176, 250);
}

fieldset {
  gap: 1.2rem;

  border: none;
}

body{background-color:  rgb(32, 52, 70);}

fieldset legend {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
  font-weight: bold;
}

fieldset label {
  color: white;
  font-weight: 600;
}

fieldset input {
  outline-color: rgb(66, 176, 250);
  padding: .5rem; 
}

.formulario label {
  font-weight: 600;
}

.input {
  padding: .5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(66, 176, 250);  
  
  color: white;
  font-size: 15px;
}

.input-container {
  gap: .5rem;
}

.input-container-header {
  display: flex;
  justify-content: space-between;
}

.boton {
  margin-top: 1rem;
  color:white;
  font-size: 18px;
  background-color: rgb(66, 176, 250);
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.error-input {
  font-weight: bolder;
  color: brown;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(66, 176, 250);
  margin-bottom: 0px;
  bottom: 0;
  width: 100%;
  color: white;
}