.contenedor-formulario {
  align-self: center;
  gap: 2rem;
  
  width: 36rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid rgb(66, 176, 250);
}

body{background-color:  rgb(32, 52, 70);}

h2 {
  color:white;
}

.formulario { gap: .8rem; }

.formulario label {
  color: white;
  font-weight: 600;
}

.input {
  padding: .5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(66, 176, 250);  
  
  color: white;
  font-size: 15px;
}

.boton {
  margin-top: 1rem;
  color:white;
  background-color: rgb(66, 176, 250);
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 17px;
  font-weight: bolder;
}