* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: sans-serif;
}

body {
  background: seashell;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-principal {
  padding: 1.5rem 3rem;
  background-color: rgb(66, 176, 250);
  color:beige;
  font-family:sans-serif;
  border-bottom: 5px solid beige;
  font-size: 20px;
}

.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}  

.nombre {
  font-size: 30px;
  text-transform: uppercase;

}
    
.nav-lista {
  display: flex;
  gap: 1rem;
}

.nav-lista li a {
  cursor: pointer;
  color: inherit;
}

.contenedor {
  width: 100%;
  max-width: 70rem;
  margin-inline: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(66, 176, 250);
  margin-bottom: 0px;
  width: 100%;
  color: white;
  bottom: 0;
}